$primary-color: #fffefa;
$primary-color-dark: #f5f5f5;
$secondary-color: #cf412b;
$secondary-color-hover: #b23623;
$color-black: #1f1f1f;
$color-grey: #8c8c8c;


$font-body: "Manrope", sans-serif;
$font-display: "Lexend",  sans-serif;


$breakpoints: (
  xs: 360px,
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1440px
);


