<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>

<section id="aboutpage">
    <div class="container">
        <img class="margin-bottom-5" src="images/Orisun 2.png" alt="Orisun Logo">
    </div>

    <div class="origin">
        <div class="container">
            <div class="grid grid-2by1">
                <div class="about-header">
                    <h6>The Journey</h6>
                    <h2>From Vision to "Thoughts"</h2>
                </div>
                <div class="about-text">
                    <p>It was around 3am, the most crucial hour in every creative’s life, when the name Orisun came
                        to me.
                        You could interpret it as “source” or “origin” in Yoruba, but for me, it’s more than just a
                        translation. It’s a wordplay, a tribute. I took it from my late mom’s name, and in that
                        moment, it
                        became something sacred. <br><br>Orisun reminds me of where I come from, the values I hold,
                        and the
                        need to always return to something true. <br><br>This is not a blog, it is a personal
                        journal that
                        y’all get to read. I wanted to build a space. A space where thoughts flow without filters.
                        <br><br>As a full stack developer, I’m used to creating things for people. Interfaces, APIs,
                        features. But I wanted to create something for me. Somewhere I could journal my thoughts,
                        about
                        things I love (sports, tech, music) and the weird, random thoughts that hit when no one’s
                        watching.
                        <br><br>If you're here reading this, welcome to the source. Welcome to my thoughts, and do
                        not panic
                        or unfriend me.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="goals">
        <div class="container">
            <div class="grid grid-2by1">
                <div class="about-header">
                    <h6>What do I want?</h6>
                    <h2 class="white-trans">My Goals</h3>
                </div>
                <div class="about-text red ">
                    <p class="padding">Like I said before, this is not a blog, it is a journal. It is everything you don't get to
                        see in my portfolio or any serious project I build. <br><br> The goal is simple, it is to
                        reflect, to document, to grow, and to connect with people who share similar thoughts but
                        either struggle to express them or don’t know how to put them into words. <br><br> This is
                        me being intentional with the things that live in my head. No pressure, no performance, just
                        presence. <br><br> If something here makes you think, or smile, or pause for a second, then
                        the goal is already working.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="ethmology">
        <div class="container">
            <div class="grid grid-2by1">
                <div class="about-header">
                    <h6>The Origin</h6>
                    <h2>Ethmology</h3>
                </div>
                <div class="about-text">
                    <img src="images/Orisun.png" alt="Orisun">
                    <p>From orí (“head”) + ìsun (“flow; spring”).</p>

                    <h5>Pronounciation <span>/ō.ɾí.ꜜsũ̄/</span></h5>

                    <h4>Noun</h4>
                    <ol>
                        <li>spring (a natural source of water). <br> <small>"A ri orisun omi ninu igbo" which
                                translates to "We found a spring of water in the forest".</small>
                        </li>
                        <li> origin, source <br> <small>"Orisun imole wa ninu iwe" which means "The source of light
                                is in the book"</small>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('../partials/footer') %>
</body>
</html>