@use "../utilities/mixin" as *;
@use "../base/reset" as *;

.about-section {
  //   position: relative;
  display: grid;
  min-height: 55rem;
  background-color: var(--background);
  color: var(--foreground);
  border: .5px solid var(--foreground);
  border-radius: 1.2rem;
  overflow: hidden;
  grid-template-rows: 1fr;
  grid-template-columns: 40% 60%;

  @include respond(mds) {
    // flex-direction: column;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
    min-height: 60rem;
  }

  &__text-box {
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;

    @include respond(mds) {
      padding: 2.5rem 1.5rem;
    }

    .text {
      margin-bottom: auto;

      h2 {
        margin-bottom: 1rem;
      }
    }

    a {
      color: white;
    }
  }

  &__img-box {
    position: relative;
    background-color: var(--foreground);

    @include respond(mds) {
    }

    img {
      object-fit: contain;
    }
  }
}
