.section-head{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    
    .hr{
        width: 60%;

        @include respond (md) {
            width: 55%;
        }

        @include respond (sm) {
            width: 45%;
        }
    }
    
    hr{
        width: 77%;

        @include respond (lg) {
            width: 75%;
        }

        @include respond (md) {
            width: 65%;
        }

        @include respond (sm) {
            width: 55%;
        }
    }

    &-header{
        border-left: 3px solid $secondary-color;
        padding: 0 1rem;
        font-size: 1.6rem;
    }

    &-sub{
        border-right: 3px solid $secondary-color;
        padding: 0 1.5rem 0 0;
        font-size: 1.6rem;
        text-align: right;
    }

    &-button{
        font-size: 1.4rem;
        color: $secondary-color;
        transition: all  .2s;
        font-weight: 500;
        font-family: $font-display;
        text-transform: capitalize;
        padding: 0 1rem;

        span{
            transition: all .2s;
        }

        &:hover{
            color: $color-black;
        }

        &:hover span{
            margin-left: 1rem;
        }
    }
}